.red {
    color: red;
  }
  
.bold {
    font-weight: bold;
  }

.Cockpit button {
  border: 1px solid blue;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 16px;
}

.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}

.Cockpit button.Red {
  background-color: red;
  color: white;
}

.Cockpit button.Red:hover {
  background-color: salmon;
  color: black;
}